.important{
  z-index: 10;
}

.less-important{
  z-index: 1;
}

.climber{
  height: 25%;
  width: 100%;
}

.climber-main{
  float: left;
  position: relative;
  bottom: 0%;
  height: 90%;
  overflow-y: auto;
  width: 100%;
  padding: 0;
}

.climber-main::-webkit-scrollbar {
    display: none;
}

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
  padding-top: 0;
  padding-bottom: 0;
}

.intro{
  float: left;
  position: relative;
  top: 0;
  background-color: #000ad1;
  height:90%;
  width:100%;

}

h1 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 80px;
  text-align: center;
  color: #F7CAC9;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: normal;
  width: 100%;
  margin-left: 0%;
}

h3 {
  position: absolute;
  bottom: 8px;
  left: 16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 30px;
  text-align:left;
  color: #000ad1;
  background-color: #F7CAC9;
}


h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 60px;
  color: #000ad1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 2vh;
}

small {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #000ad1;
  padding-bottom: 10px;
}

#mobile-intro
{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 2vh;
}

#mobile-intro-bio
{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000ad1;
  padding-bottom: 10px;
  text-align: center;
  margin-top: 2vh;
}


.intro-text{
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #F7CAC9;
  text-align: center;
  width: 100%;
  left: 0;
  padding-right: 3vw;
  padding-left: 3vw;
  padding-bottom: 10px;
  margin-bottom: 2vh;

}

.nav-link{
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 700;
  font-size: 18px;
  color: #ffffff;
  display: inline block;
  margin-left: 3vw;
  margin-right: 3vw;
}

.nav-link:hover .nav-link:focus{
  text-decoration: none;
  font-color: #000ad1;
  background-color: #F7CAC9;
}

p {
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 22px;
  color: #00000;
  padding-top: 1vh;
  margin-bottom: 2vh;
}

.climber:hover h3  { background-color: #F7CAC9; }

/*Important:*/
.link-spanner{
  position:absolute;
  width:100%;
  height:100%;
  top:0;
  left: 0;
  z-index: 1;
}

.climber-bio{
  position: relative;
  background-color: #F7CAC9;
  height:90%;
  width:100%;
}

.text{
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%,-50%);
  padding-left: : 1vw;
  padding-right: 1vw;
  text-align:center;
}


.sub-nav{
  float: left;
  position: relative;
  bottom: 0;
  background-color: #000ad1;
  height:10%;
  width:100%;
  text-align: center;
}

.sub-nav-main{
  position: relative;
  background-color: #F7CAC9;
  height:25%;
  width:100%;
}


.sub-nav-text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.sub-nav-text-main{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%
}

.climber-image-holder{
  float: left;
  position: relative;
  bottom: 0%;
  height: 90%;
  overflow-y: auto;
  width: 100%;
  padding: 0;
}

.myImage {
    position:relative;
    width:100%;
    transition: 0.3s;
}



.myImage:hover {
    -webkit-filter: grayscale(0);
}


#futaba{
  position: relative;
}

#futaba::before{
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0; left: 0;
  background-image: url(../img/futaba.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#futaba-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
  width: 100%;
  height: 100%;
}


#ashima{
  position: relative;
}

#ashima::before{
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0; left: 0;
  background-image: url(../img/ashima.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#ashima-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
  width: 100%;
  height: 100%;
}

#miho{
  position: relative;
}

#miho::before{
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0; left: 0;
  background-image: url(../img/miho.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#miho-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
  width: 100%;
  height: 100%;
}


#shauna{
  position: relative;
}

#shauna::before{
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0; left: 0;
  background-image: url(../img/shauna.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#shauna-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
  width: 100%;
  height: 100%;
}


#lynn{
  position: relative;
}

#lynn::before{
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0; left: 0;
  background-image: url(../img/lynn.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#lynn-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
  width: 100%;
  height: 100%;
}


#akiyo{
  position: relative;
}

#akiyo::before{
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0; left: 0;
  background-image: url(../img/akiyo.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#akiyo-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
  width: 100%;
  height: 100%;
}


#janja{
  position: relative;
}

#janja::before{
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0; left: 0;
  background-image: url(../img/janja.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#janja-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
  width: 100%;
  height: 100%;
}

#jain{
  position: relative;
}

#jain::before{
  height: 100%;
  width: 100%;
  content: "";
  position: absolute;
  top: 0; left: 0;
  background-image: url(../img/jain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
}

#jain-inside {
  /* This will make it stack on top of the ::before */
  position: relative;
  width: 100%;
  height: 100%;
}
